@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
/*Header*/

header{
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    background-image: url(../Images/back.png);
    width: 100%;
    height: 100%;
    background-position:center;
    z-index: 1000;
    overflow-y: scroll;
    
}

.logo{
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 10px;
    
}
nav{
    border: solid;
    background-color:rgba(225,225,225, 0.7);
    border-radius: 10px;
    border-width: 0.001ex;
}

#navi a{
    color: black;
    display: block;
    height: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    margin-top:5px;
    
}

#navi a:hover{
    background:#009efe;
}

#navi ul{
    list-style: none;
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
}
#navi li{
    width: 100%;
    text-align: center;
    position: relative;

}

#navi li:hover .menu1 > li{

    display: block;
    top: 0px;
}




.menu1 li{
    display: none;
    position: absolute;
    top: 0px;
    font-size: 12px;
    font-weight: 800;

}

.menu1{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    font-size: 12px;

}

.menu1 li  {
    position: relative;
}
.menu1 li:hover .menu2 li{
    display: block;
}

.menu2 li{
    display: none;
}

.menu2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 120px;
}

.arrow{
    margin-left: 8px;
    color: black;
    font-size: 12px;
}


/*Search bar*/

.search{
    padding: 20px;
    width: 200px;
    border-radius: 50px;
    border-style: solid;
    margin-top: 50px;
    margin-left: 30px;
    background-color:rgba(225,225,225, 0.7);
    border-width: 0.001ex;
    animation-name: search;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 15px;
}

@keyframes search{
    from {width:200px;font-size: 15px;}
    to {width: 400px; font-size: 20px;}
}
.search:hover{
    width: 400px;
   
}


/*Base of header*/
.yesno{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    position: relative;
    margin-top: 40px;

}

.yes{
    margin-top: 130px;
    font-size: 30px;
    margin-left: 20px;
    
}



.no{
    border: solid #009efe;
    padding: 30px;
    height: 200px;
    font-size: 32px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 50px;
    box-shadow: 3 3 3;
    border-radius: 10px;
    background-color:rgba(0, 158, 254,0.7);
    border-width:0.01ex;

}

.no:hover{
    margin-top: 5px;
}


/*Second section*/


#upcoming{
margin-top: 70px;
margin-bottom: 70px;
}

#upcoming >h1{
    font-size: 48px;
}

img{
    height:300x;
}


.contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.contain >.one , content{
  margin-left: 35px;
}

.contain > .two, content{
    margin-right:35px ;
}
.content{
    margin-top: 20px;

}


.containe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.containe >.three, content{
    margin-left: 35px;
  }
  
  .containe > .four, content{
      margin-right:35px ;
  }
  .content{
      margin-top: 20px;
      font-size: 20px;
      margin-left: 30px;
  }



  button{
    padding: 15px 20px;
    background-color:rgba(0, 158, 254,0.7);
    border: 1;
    border-radius: 10px;
    border-color: #009efe;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    
}
button:hover{
    background-color: antiquewhite;
    color:#009efe;
}

h1{
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 36px;
    color: #009efe;
    font-weight: 800;


}


.news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.news .dos {
    margin-left: 100px;
    font-size: 20px;
    line-height:1.5em;
}

.news  .tres{
    margin-right: 100px;
    font-size: 20px;
    line-height:1.5em;
    
}

 
/* Footer styling*/

.footer{
    padding: 100px;
    background-color:rgba(0, 158, 254,0.7);

}

.footer >p{
    font-size: 20;
    margin-left: 350px;
    font-weight: bold;
}