.menu_bars div{
    background-color: white;
    width: 40px;
    height:5px;
    margin:6px;
    margin-left: 7%;
    margin-top: -1%;
    
}
 .navbars a button{
    display: block;
    width: 150px;
    height: 40px;
    background-color: white;
    color: black;
    font-weight: bold;
    margin-top: 2%;
    border-radius: 10px;
    gap: 1px;
}
body{
    background-color:rgb(132,173, 195);
}
.navbars a #career{
    margin-top:-10%;
}
#log_Out{
    margin-top: 20%;
} 
.image2{
    padding-left: 8%;
    margin-top:-23%;
}
.name{
    position: absolute;
    left: 180px;
    bottom: 70%;
    color: white;
    font-size:xx-large;
    padding-left: 5%;
    font-weight: bold;
}
#kayoo{
    padding-left: 71%;
}
.image2 img{
    width: 1000px;
}
.line{
    height: 2px;
    width: 200px;
    background-image: linear-gradient;
    float: right;
}
.content_box{
    position: absolute;
    left: 180px;
    bottom: 40%;
    color: black;
    font-weight: bold;
    background-color: white;
    height: 420px;
    width:400px;
    margin-bottom: -15%;
    border-radius: 10px;
    padding-left: 15px;
}
.content_elements{
    margin: 10%;
    padding:5%;
}
.navbars #log_Out{
    margin-top:10%;
}
